<% if flash[:success] %>
  <div class="success callout" data-closable>
    <%= display_flash_messages %>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <% elsif flash[:alert] %>
  <div class="alert callout" data-closable>
    <%= display_flash_messages %>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <% elsif flash[:primary] %>
  <div class="primary callout" data-closable>
    <%= display_flash_messages %>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<% end %>

